<html lang="en">

{{!-- {{header}} --}}
{{>head}}
<body>
    <h1>main page</h1>
    <h2>bu pageda main page  o'zgarmaydi</h2>
    <hr>
    {{{body}}}

    {{!--footer --}}
    {{>footer}}
</body>
</html>